<script type="text/ng-template" id="myPopoverTemplate.html">
  <div>{{filePopover.content}}</div>
  <div class="form-group">
    <label>Popup Title:</label>
    <input type="text" ng-model="dynamicPopover.title" class="form-control">
  </div>
</script>

<div class="container">
  <div class="tasks">
    <h1>
      Task
      <button class="btn btn-primary" ng-click="newTask()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>New</button>
    </h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Target</th>
          <th>Description</th>
          <th>Launch Date (UTC)</th>
          <th>File Content</th>
          <th>Finished?</th>
          <th>Result</th>
          <th>Run again</th>
          <th><font color="red">delete</font></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in tasks">
          <th><a ng-click="show(task)">{{task.target || "null"}}</a></th>
          <th>{{task.description}}</th>
          <th>{{task.launchDate}}</th>
          <th><button type="button" class="btn btn-default" ng-click='toggleFileContent(task)'>Show</button></th>
          <th>{{task.finished}}</th>
          <th><button type="button" class="btn btn-default" ng-click='toggleResultContent(task)'>Show</button></th>
          <th><button class="btn btn-primary btn-xs" ng-click='runAgain()'><span class="glyphicon glyphicon-repeat"></span></button></th>
          <th><button class="btn btn-danger btn-xs" ng-click='deleteTask(task)'><span class="glyphicon glyphicon-remove"></span></button></th>
        </tr>
      </tbody>
    </table>
    <pre ng-if="showFileContent">{{fileContent}}</pre>
    <pre ng-if="showResultContent">{{resultContent}}</pre>
  </div>
</div>
