<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="appsflyer">
    <h3>Appsflyer Push API</h3>
    <button ng-click="refresh()">Refresh</button>
    <button ng-click="deleteAll()">Drop all</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>App id</th>
          <th>Event name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="e in appsflyers">
          <th>{{appId(e)}}</th>
          <th>{{e.eventName}}</th>
          <th>{{e.createdAt | date:'yyyy-MM-dd HH:mm:ss'}} UTC</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
