<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="appsflyer">
    <h3>Appsflyer Push API</h3>
    <button class="btn btn-button btn-primary" ng-click="refresh()">Refresh</button>
    <button class="btn btn-button btn-danger" ng-click="deleteAll()">Drop all</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>App id</th>
          <th>Event name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="e in appsflyers">
          <th>{{appId(e)}}</th>
          <th>{{eventName(e)}}</th>
          <th>{{e.createdAt | date:'yyyy-MM-dd HH:mm:ss'}} UTC</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="alert alert-info" role="alert">
    <p>* 建议：每次测试前请点击 <a href="#" class="alert-link">Drop all</a>。</p>
  </div>
</div>
